In [1]:
#  1. Create a mysql table bda_nn_emp to contain empno,name,deptcode,desig,salary and insert some records(10)

#  2. Create another table bda_nn_dept to contain dept_no(values match with deptcode of emp ),dept_name,dept_location and insert some records.
#         (nn must be 01,02,03 etc. i.e. as per your username)

#  3. Open ipython and import the necessary modules for data analysis

#  4. load data from bda_nn_emp and bda_nn_dep into different dataframes 

#  5. Print empno,name,deptname,salary and store the same to another dataframe in the ascending order of salary column.

#  6. Write the above dataframe (after step5) into another table in mysql named bda_nn_emp_dept.

#    (try 'mysql://bda:bda@localhost:3306/bda' as the parameter for create_engine of sqlalchemy)
#          (dbms://user:password@hostname:portnumber/database)

# 7.From the given csv files(items.csv and sales.csv in common/Python_Exercises folder) create two dataframe objects- idf1 and sdf1

# 8.Fill stock of Mobile phone with average stock. 

# 9.Using idf1 and sdf1 print item name, region and sales quantity and store the same in a new dataframe.

# 10.Create two dataframes by applying pivot on the above dataframe with region/item name as index/column.

In [2]:
#  1. Create a mysql table bda_nn_emp to contain empno, name, deptcode, desig, salary and insert some records(10)

import MySQLdb as my

con_o = my.connect('123.0.0.1', 'ai', 'ai', 'ai')
cur_o = con_o.cursor()

q = '''create table ai_17_emp(empno int(11), name varchar(20), deptcode int(11), desig varchar(20), salary int(11), primary key(empno))'''

cur_o.execute(q)
print('DB created')

OperationalError: (2003, "Can't connect to MySQL server on '123.0.0.1' (110)")

In [4]:
#  2. Create another table bda_nn_dept to contain 
#  dept_no(values match with deptcode of emp ),dept_name,dept_location and insert some records.
#     (nn must be 01,02,03 etc. i.e. as per your username)

con_o = my.connect('localhost', 'ai', 'ai', 'ai')
cur_o = con_o.cursor()

q = '''create table ai_17_depart(depcode char(5), dept_name char(20), dept_loc char(45))'''

cur_o.execute(q)
print('DB created')

OperationalError: (2002, "Can't connect to local MySQL server through socket '/tmp/mysql.sock' (2)")

In [ ]:
#  3. Open ipython and import the necessary modules for data analysis

import numpy as np
import pandas as pd

con = my.connect('123.0.0.1', 'ai', 'ai', 'ai')

In [ ]:
#  4. load data from bda_nn_emp and bda_nn_dep into different dataframes 

emp = pd.read_sql('select * from ai_17_emp')
dept = pd.read_sql('select * from ai_17_depart')

In [ ]:
emp.head()

In [6]:
#  5. Print empno,name,deptname,salary and store the same to another dataframe in the ascending order of salary column.

In [7]:
#  6. Write the above dataframe (after step5) into another table in mysql named bda_nn_emp_dept.


#    (try 'mysql://bda:bda@localhost:3306/bda' as the parameter for create_engine of sqlalchemy)
#          (dbms://user:password@hostname:portnumber/database)

In [8]:
# 7.From the given csv files(items.csv and sales.csv in common/Python_Exercises folder) create two dataframe objects- idf1 and sdf1

In [10]:
# 8.Fill stock of Mobile phone with average stock.

In [11]:
# 9.Using idf1 and sdf1 print item name, region and sales quantity and store the same in a new dataframe.

In [ ]:
# 10.Create two dataframes by applying pivot on the above dataframe with region/item name as index/column.