In [1]:
# 1. Import the necessary libraries(pandas).
# 2. Import the dataset euro2012 from common folder.
# 3. Assign it to a data frame variable called euro12.
# 4. Select only the Goal column.
# 5. How many team participated in the Euro2012?
# 6. What is the number of columns in the dataset?
# 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline
# 8. Sort the teams by Red Cards, then to Yellow Cards
# 9. Calculate the mean Yellow Cards given per Team
# 10. Filter teams that scored more than 6 goals
# 11. Select the teams that start with G
# 12. Select the first 7 columns
# 13. Select all columns except the last 3.
# 14. Present only the Shooting Accuracy from England, Italy and Russia

In [5]:
# 1. Import the necessary libraries(pandas)

import pandas as pd

In [6]:
# 2. Import the dataset euro2012 from common folder.
# 3. Assign it to a data frame variable called euro12.

df = pd.read_csv('euro2012.csv')
df.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

In [8]:
# 4. Select only the Goal column.

df['Goals']

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

In [11]:
#  5. How many team participated in the Euro2012?

# len(df)
# df.shape
df['Team'].nunique()

16

In [16]:
# 6. What is the number of columns in the dataset?

# df.shape[1]
len(df.columns)

35

In [21]:
#  7. View only the columns Team, Yellow Cards and Red Cards 
#     and assign them to a dataframe called discipline

discipline = df[['Team', 'Yellow Cards', 'Red Cards']]
discipline.head()

             Team  Yellow Cards  Red Cards
0         Croatia             9          0
1  Czech Republic             7          0
2         Denmark             4          0
3         England             5          0
4          France             6          0

In [28]:
#  8. Sort the teams by Red Cards, then to Yellow Cards

discipline.sort_values(['Red Cards', 'Yellow Cards'], ascending=False).reset_index(drop=True)[['Team', 'Red Cards', 'Yellow Cards']].head()

                  Team  Red Cards  Yellow Cards
0               Greece          1             9
1               Poland          1             7
2  Republic of Ireland          1             6
3                Italy          0            16
4             Portugal          0            12

In [31]:
#  9. Calculate the mean Yellow Cards given per Team

df.groupby('Team')['Yellow Cards'].mean()

Team
Croatia                 9
Czech Republic          7
Denmark                 4
England                 5
France                  6
Germany                 4
Greece                  9
Italy                  16
Netherlands             5
Poland                  7
Portugal               12
Republic of Ireland     6
Russia                  6
Spain                  11
Sweden                  7
Ukraine                 5
Name: Yellow Cards, dtype: int64

In [34]:
#  10. Filter teams that scored more than 6 goals

df[df['Goals']>6]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

In [36]:
# 11. Select the teams that start with G

df[df['Team'].str.startswith('G')]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

In [43]:
# 12. Select the first 7 columns

df.iloc[:, 0:7].head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65

In [45]:
# 13. Select all columns except the last 3.

df.iloc[:, :-3].head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,1,10,6,9,60.1%,53,73,8,7,0
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,1,10,5,10,66.7%,25,38,8,4,0
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,2,29,3,22,88.1%,43,45,6,5,0
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,1,7,5,6,54.6%,36,51,5,6,0

In [64]:
#  14. Present only the Shooting Accuracy from England, Italy and Russia

# df[['Team', 'Shooting Accuracy']].query("Team == 'England' or Team == 'Italy' or Team == 'Russia'")
df[df['Team'].isin(['England', 'Italy', 'Russia'])][['Team', 'Shooting Accuracy']]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%